<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.png">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
        <title>Repowee</title>
    </head>
    <body style="min-height: unset">
        <noscript>
            <strong>
                We're sorry but Repowee doesn't work properly without JavaScript enabled. Please enable it to
                continue.
            </strong>
        </noscript>

        <div id="app"></div>
    </body>
</html>
