<template>
    <div id="connection-component">
        <img class="image" src="../assets/images/logo.svg" alt="repowee-logo"/>

        <h1>{{ $t("global.title") }}</h1>
        <form novalidate class="md-layout md-alignment-center-center" @submit.prevent="connection">
            <div>
                <div :class="{ 'hasError': $v.form.email.$error }">
                    <md-field :class="getValidationClass('email')">
                        <label>{{ $t("connection.email") }}</label>
                        <md-input name="email" id="email" v-model="form.email"></md-input>
                        <span class="md-error" v-if="$v.form.email.$error">{{ $t("connection.invalid") }}</span>
                    </md-field>
                </div>
                <div :class="{ 'hasError': $v.form.password.$error }">
                    <md-field :class="getValidationClass('password')">
                        <label>{{ $t("connection.password") }}</label>
                        <md-input name="password" id="password" v-model="form.password" type="password"></md-input>
                        <span class="md-error" v-if="$v.form.password.$error">{{ $t("connection.invalid") }}</span>
                    </md-field>
                </div>
                <md-card-actions>
                    <md-progress-spinner v-if="showSpinner" :md-diameter="30" :md-stroke="3"
                                         md-mode="indeterminate"></md-progress-spinner>
                    <md-button type="submit" class="md-raised">{{ $t("connection.submit") }}</md-button>
                </md-card-actions>
            </div>
        </form>
        <md-snackbar style="z-index: 99999999999" md-position="center" :md-duration="duration" :md-active.sync="showSnackbar" md-persistent>
            <span>{{this.error}}</span>
            <md-button class="md-primary" @click="showSnackbar = false">{{ $t("connection.close") }}</md-button>
        </md-snackbar>
    </div>
</template>

<script>

    import { email, required } from "vuelidate/lib/validators";
    import axios from "../common/axios";

    export default {
        name: "Connection",
        props: {
            title: String
        },
        data: () => ({
            form: {
                email: null,
                password: null
            },
            showSnackbar: false,
            showSpinner: false,
            duration: 4000,
            error: null
        }),
        validations: {
            form: {
                email: {
                    required,
                    email
                },
                password: {
                    required
                }
            }
        },
        methods: {
            connection() {
                this.$v.form.$touch();
                if (this.$v.form.$error) return;

                this.showSpinner = true;

                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/auth/login", {
                    email: this.form.email,
                    password: this.form.password
                }).then((response) => {
                    this.showSpinner = false;
                    this.$router.push({ path: "/home" });
                }).catch((errors) => {
                    this.showSnackbar = true;
                    this.showSpinner = false;
                    this.error = errors;
                });
            },

            getValidationClass(fieldName) {
                const field = this.$v.form[fieldName];

                if (field) {
                    return {
                        "md-invalid": field.$invalid && field.$dirty
                    };
                }
            }
        }
    };
</script>

<style scoped>
    #connection-component {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-bottom: 5vh;
    }

    .md-progress-spinner {
        margin-right: 2vh;
    }

    .image {
        margin-top: 5vh;
        height: 35vh;
        width: 35vh;
    }

    .hasError label {
        color: red;
    }
</style>
