<template>
    <div id="footer-component" class="md-fab-bottom-center">
        <div>
            <div slot="copyright">
                <span>{{ $t('footer.copyright') }} {{ $t('footer.year') }} {{ $t('global.title') }}, {{ $t('footer.legal') }}</span>
            </div>
        </div>
    </div>
</template>

<script>

</script>

<style scoped>
    #footer-component {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 5px;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: #ff5252;
    }
</style>
