<template>
    <div id="header-component">
        <md-tabs class="md-accent" md-sync-route>
            <md-tab id="tab-home" :md-label="$t('header.home')" md-icon="home" to="/home"></md-tab>
            <md-tab id="tab-workspace" :md-label="$t('header.workspace')" md-icon="work_outline" to="/workspaces"></md-tab>
            <md-tab id="tab-profile" :md-label="$t('header.profile')" md-icon="account_circle" to="/profile"></md-tab>
            <md-tab id="tab-logout" :md-label="$t('header.logout')" md-icon="power_settings_new" @click="deconnection"></md-tab>
        </md-tabs>
    </div>
</template>

<script>

    import axios from "../common/axios";

    export default {
        name: "Header",
        methods: {
            deconnection() {
                axios.get(process.env.VUE_APP_BACKEND_URL + "v1/auth/logout").then((response) => {
                    this.$router.push({ path: "/" });
                }).catch((errors) => {});
            }
        }
    };
</script>

<style scoped>

    #header-component {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        top: 0px;
        width: 100%;
    }

</style>
