<template>
    <div id="home-component">
        <Header/>

        <div class="md-layout md-gutter" id="page-container">
            <div class="md-layout-item md-size-50">
                <md-card>
                    <md-card-header>
                        <md-card-header>
                            <div class="md-title">{{$t("home.config")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <div>
                                {{$t("home.config_descp")}}
                            </div>
                            <pre style="text-align: left;white-space: pre-wrap;">
image:
  base: {{$t("home.config_info.base")}}
  ports: {{$t("home.config_info.ports")}}
  commands: {{$t("home.config_info.commands")}}
  entrypoint: {{$t("home.config_info.entrypoint")}}

project:
  workingDirectory: {{$t("home.config_info.workdir")}}
  files: {{$t("home.config_info.files")}}
                            </pre>
                        </md-card-content>
                    </md-card-header>
                </md-card>
                <md-card>
                    <md-card-header>
                        <md-card-header>
                            <div class="md-title">{{$t("home.templates")}}</div>
                        </md-card-header>

                        <md-card-content>

                        </md-card-content>
                    </md-card-header>
                </md-card>
            </div>
            <div class="md-layout-item md-size-50">
                <WorkspacesList/>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "../common/axios";
    import Header from "./Header";
    import WorkspacesList from "./WorkspacesList";

    export default {
        name: "Home",
        data: () => ({
            user: {}
        }),
        components: {
            WorkspacesList,
            Header
        },
        beforeMount: function() {
            axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/me").then((response) => {
                this.user = response.data.data;
            }).catch((errors) => {
            });
        }
    };
</script>

<style scoped>

    #home-component {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #page-container {
        margin: 2%;
    }
</style>
