<template>
    <div id="profile-component">
        <Header/>
        <md-app class="full" md-waterfall md-mode="fixed">
            <md-app-toolbar class="md-primary">
                <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                    <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">{{ $t("profile." + this.currentContent) }}</span>
            </md-app-toolbar>
            <md-app-drawer :md-active.sync="menuVisible" md-persistent="full">
                <md-toolbar class="md-transparent" md-elevation="0">
                    <span>{{ $t("profile.title") }}</span>
                    <div class="md-toolbar-section-end">
                        <md-button class="md-icon-button md-dense" @click="toggleMenu">
                            <md-icon>keyboard_arrow_left</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-list-item id="information" v-on:click="switchPage">
                        <md-icon>perm_identity</md-icon>
                        <span class="md-list-item-text">{{ $t("profile.information") }}</span>
                    </md-list-item>
                    <md-list-item id="username" v-on:click="switchPage">
                        <md-icon>people_alt</md-icon>
                        <span class="md-list-item-text">{{ $t("profile.username") }}</span>
                    </md-list-item>

                    <md-list-item id="password" v-on:click="switchPage">
                        <md-icon>vpn_key</md-icon>
                        <span class="md-list-item-text">{{ $t("profile.password") }}</span>
                    </md-list-item>
                </md-list>
            </md-app-drawer>
            <md-app-content v-if="currentContent === 'information'">
                <div>
                    <md-field>
                        <md-icon>people_alt</md-icon>
                        <label>{{this.user.name}}</label>
                        <md-input v-model="disabled" disabled></md-input>
                    </md-field>
                    <md-field>
                        <md-icon>alternate_email</md-icon>
                        <label>{{this.user.mail}}</label>
                        <md-input v-model="disabled" disabled></md-input>
                    </md-field>
                    <md-field>
                        <md-icon>grade</md-icon>
                        <label>{{$t("profile.role")}}: {{this.user.role}}</label>
                        <md-input v-model="disabled" disabled></md-input>
                    </md-field>
                    <md-field>
                        <md-icon>work_outline</md-icon>
                        <label>{{$t("profile.workspacesLimit")}}: {{this.user.workspacesLimit}}</label>
                        <md-input v-model="disabled" disabled></md-input>
                    </md-field>
                </div>
            </md-app-content>
            <md-app-content v-if="currentContent === 'username'">
                <form novalidate class="md-layout md-alignment-center-center" @submit.prevent="modifyUsername">
                    <md-field>
                        <md-icon>people_alt</md-icon>
                        <label>{{this.user.name}}</label>
                        <md-input v-model="disabled" disabled></md-input>
                    </md-field>
                    <md-field :class="getValidationUsernameClass('name')">
                        <md-icon>people_alt</md-icon>
                        <label>{{ $t("profile.username") }}</label>
                        <md-input v-model="formUsername.name"></md-input>
                        <span class="md-error"
                              v-if="$v.formUsername.name.$error">{{ $t("profile.formNameInvalide") }}</span>
                    </md-field>
                    <md-button type="submit" class="md-raised">{{ $t("profile.username") }}</md-button>
                </form>
            </md-app-content>
            <md-app-content v-if="currentContent === 'password'">
                <form novalidate class="md-layout md-alignment-center-center" @submit.prevent="modifyPassword">
                    <span>Choisissez un mots de passe d’au moins 12 caractères de types différents (majuscules, minuscules, chiffres).</span>
                    <md-field :class="getValidationPasswordClass('passwordFirst')">
                        <md-icon>vpn_key</md-icon>
                        <label>{{ $t("profile.password") }}</label>
                        <md-input name="passwordFirst" id="passwordFirst" v-model="formPassword.passwordFirst"
                                  type="password"></md-input>
                        <span class="md-error" v-if="$v.formPassword.passwordFirst.$error">{{ $t("profile.formPasswordFirstInvalide") }}</span>
                    </md-field>
                    <md-field :class="getValidationPasswordClass('passwordSecond')">
                        <md-icon>vpn_key</md-icon>
                        <label>{{ $t("profile.password") }}</label>
                        <md-input name="passwordSecond" id="passwordSecond" v-model="formPassword.passwordSecond"
                                  type="password"></md-input>
                        <span class="md-error" v-if="$v.formPassword.passwordSecond.$error">{{ $t("profile.formPasswordSecondInvalide") }}</span>
                    </md-field>
                    <md-button type="submit" class="md-raised">{{ $t("profile.password") }}</md-button>
                </form>
            </md-app-content>
        </md-app>
    </div>
</template>

<script>
    import { helpers, minLength, required, sameAs } from "vuelidate/lib/validators";
    import axios from "../common/axios";
    import Header from "./Header";

    const maj = helpers.regex("alpha", /[A-Z]+/);
    const min = helpers.regex("alpha", /[a-z]+/);
    const num = helpers.regex("alpha", /[0-9]+/);

    export default {
        name: "Profile",
        data: () => ({
            formUsername: {
                name: null
            },
            formPassword: {
                passwordFirst: null,
                passwordSecond: null
            },
            currentContent: "information",
            user: {},
            menuVisible: false,
            disabled: null
        }),
        validations: {
            formUsername: {
                name: {
                    required
                }
            },
            formPassword: {
                passwordFirst: {
                    required,
                    minLength: minLength(12),
                    maj,
                    min,
                    num
                },
                passwordSecond: {
                    sameAsPassword: sameAs(function() {
                        return this.formPassword.passwordFirst;
                    })
                }
            }
        },
        components: {
            Header
        },
        beforeMount: function() {
            axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/me").then((response) => {
                this.user = response.data.data;
            }).catch((errors) => {
            });
        },
        methods: {
            switchPage: function(event) {
                switch (event.currentTarget.id) {
                case "information":
                    this.currentContent = event.currentTarget.id;
                    break;

                case "username":
                    this.currentContent = event.currentTarget.id;
                    break;

                case "password":
                    this.currentContent = event.currentTarget.id;
                    break;
                }
            },
            toggleMenu() {
                this.menuVisible = !this.menuVisible;
            },
            modifyUsername() {
                this.$v.formUsername.$touch();
                if (this.$v.formUsername.$error) return;

                axios.patch(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.user.mail, {
                    name: this.formUsername.name
                }).then((response) => {
                    this.user.name = this.formUsername.name;
                }).catch((errors) => {
                });
            },
            modifyPassword() {
                this.$v.formPassword.$touch();
                if (this.$v.formPassword.$error) return;

                axios.patch(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.user.mail, {
                    password: this.formPassword.passwordFirst
                }).then((response) => {
                    axios.get(process.env.VUE_APP_BACKEND_URL + "v1/auth/logout").then((response) => {
                        this.$router.push({ path: "/" });
                    }).catch((errors) => {
                    });
                }).catch((errors) => {
                });
            },
            getValidationUsernameClass(fieldName) {
                const field = this.$v.formUsername[fieldName];

                if (field) {
                    return {
                        "md-invalid": field.$invalid && field.$dirty
                    };
                }
            },
            getValidationPasswordClass(fieldName) {
                const field = this.$v.formPassword[fieldName];

                if (field) {
                    return {
                        "md-invalid": field.$invalid && field.$dirty
                    };
                }
            }

        }
    };
</script>

<style scoped>

    #profile-component {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100%;
    }

    .full {
        height: 80vh;
    }

</style>
