<template>
    <div>
        <Header/>

        <md-dialog :md-active.sync="build_dialog.active">
            <md-dialog-title>{{$t("project.build_dialog.title")}}</md-dialog-title>

            <md-dialog-content>
                <md-field>
                    <label>{{$t("project.build_dialog.placeholder")}}</label>
                    <md-file @change="onFileChange" />
                </md-field>
            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click="build_dialog.active = false">{{$t("global.no")}}</md-button>
                <md-button class="md-primary" @click="onBuild">{{$t("global.yes")}}</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog-prompt
                :md-active.sync="rename_dialog.active"
                v-model="rename_dialog.data"
                :md-title="$t('project.rename')"
                md-input-maxlength="50"
                :md-input-placeholder="$t('project.rename_dialog_placeholder')"
                :md-confirm-text="$t('global.ok')"
                :md-cancel-text="$t('global.cancel')"
                @md-confirm="onRenameDialogConfirm"
        />

        <md-dialog-confirm
                :md-active.sync="delete_dialog.active"
                :md-title="$t('project.delete')"
                :md-content="$t('project.delete_warning')"
                :md-confirm-text="$t('global.yes')"
                :md-cancel-text="$t('global.no')"
                @md-confirm="onDeleteDialogConfirm" />

        <div id="project-container">
            <span class="md-display-2" style="text-transform: capitalize">{{this.$route.params.w_name}} / {{this.$route.params.p_name}} <md-chip class="md-primary">{{$t("project.status." + this.project.status)}}</md-chip></span>

            <div class="md-layout md-gutter" style="margin-top: 2%">
                <div class="md-layout-item md-size-60">
                    <md-card>
                        <md-card-header>
                            <div class="md-title">{{$t("project.console")}}</div>
                        </md-card-header>
                        <md-card-content class="md-scrollbar" id="console">
                            <p :key="line" v-for="line of this.console_content">{{line}}</p>
                        </md-card-content>
                    </md-card>
                </div>
                <div class="md-layout-item md-size-40">
                    <md-card>
                        <md-card-header>
                            <div class="md-title">{{$t("workspace.info")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <md-list>
                                <md-list-item>
                                    <md-icon>assignment_ind</md-icon>
                                    <span class="md-list-item-text">{{$t("project.creator")}}: {{this.project.creator ? this.project.creator.mail : ""}}</span>
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>swap_vert</md-icon>
                                    <span class="md-list-item-text">{{$t("project.ports")}}: {{(this.project.ports ? this.project.ports : []).map(p => p.from + " to " + p.to).join(", ")}}</span>
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>insert_link</md-icon>
                                    <span class="md-list-item-text">{{$t("project.urls")}}: {{(this.project.ports ? this.project.ports : []).map(p => this.deploymentHost + ":" + p.to).join(", ")}}</span>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-header>
                            <div class="md-title">{{$t("workspace.actions")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <md-button class="md-raised md-accent buttons" style="margin-left: 0" @click="build_dialog.active = true" >{{$t("project.build")}}</md-button>
                            <md-button class="md-raised md-primary buttons" @click="onProjectStart">{{$t("project.start")}}</md-button>
                            <md-button class="md-raised md-accent buttons" @click="onProjectStop">{{$t("project.stop")}}</md-button>
                            <md-button class="md-raised md-primary buttons" @click="delete_dialog.active = true" >{{$t("project.delete")}}</md-button>
                            <md-button class="md-raised md-accent buttons" @click="rename_dialog.active = true" >{{$t("project.rename")}}</md-button>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from "./Header";
    import io from "socket.io-client";
    import axios from "../common/axios";

    export default {
        name: "Project",
        components: { Header },
        data: () => ({
            project: {},
            rename_dialog: {
                active: false
            },
            delete_dialog: {
                active: false
            },
            build_dialog: {
                active: false,
                file: undefined
            },
            console_content: [],
            deploymentHost: process.env.VUE_APP_DEPLOYEMENT_URL
        }),
        beforeMount() {
            // Get project
            axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name + "/project/" + this.$route.params.p_name)
                .then(response => {
                    this.project = response.data.data;
                })
                .catch(errors => {});

            // Connect websocket
            this.socket = io(process.env.VUE_APP_BACKEND_URL, { path: "/ws", query: { token: this.$cookies.get("token") } });
            this.socket.on("connection", data => {
                this.socket.emit("console:register", `${this.$route.params.user}-${this.$route.params.w_name}-${this.$route.params.p_name}`);
            });
            this.socket.on("console:data", data => {
                this.console_content.push(data);

                const container = this.$el.querySelector("#console");
                container.scrollTop = container.scrollHeight;
            });
            this.socket.on("project-status:change", data => {
                this.project.status = data;
            });
            this.socket.on("ports:change", data => {
                this.project.ports = data;
            });
        },
        methods: {
            onRenameDialogConfirm(value) {
                axios.patch(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name + "/project/" + this.$route.params.p_name, {
                    name: value
                })
                    .then(response => {
                        this.$router.push("/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name);
                    })
                    .catch(errors => {});
            },
            onDeleteDialogConfirm() {
                axios.delete(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name + "/project/" + this.$route.params.p_name)
                    .then(response => {
                        this.$router.push("/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name);
                    })
                    .catch(errors => {});
            },
            onBuild() {
                // Hide dialog
                this.build_dialog.active = false;

                // Prepare upload
                const form = new FormData();

                // Add file
                form.append("data", this.build_dialog.file);

                // Upload
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name + "/project/" + this.$route.params.p_name + "/build",
                           form, { headers: { "Content-Type": "multipart/form-data" } })
                    .then(response => {})
                    .catch(errors => {});
            },
            onFileChange(e) {
                this.build_dialog.file = e.target.files[0];
            },
            onProjectStart() {
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name + "/project/" + this.$route.params.p_name + "/start")
                    .then(response => {})
                    .catch(errors => {});
            },
            onProjectStop() {
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name + "/project/" + this.$route.params.p_name + "/stop")
                    .then(response => {})
                    .catch(errors => {});
            }
        }
    };
</script>

<style scoped>
    #project-container {
        margin: 2%;
    }

    .md-card {
        margin-bottom: 5vh;
    }

    .buttons {
        width: 100%;
    }

    #console {
        min-height: 60vh;
        max-height: 60vh;
        overflow: auto;
        background-color: black;
        color: white;
    }
</style>
