<template>
    <div id="workspaces-component">
        <Header/>
        <div id="workspaces-container">
            <md-dialog-prompt
                    :md-active.sync="create_dialog.active"
                    v-model="create_dialog.data"
                    :md-title="$t('workspaces.creation_dialog.title')"
                    md-input-maxlength="50"
                    :md-input-placeholder="$t('workspaces.creation_dialog.placeholder')"
                    :md-confirm-text="$t('global.ok')"
                    :md-cancel-text="$t('global.cancel')"
                    @md-confirm="onCreateDialogConfirm"
            />
            <div class="md-layout md-gutter" style="margin-bottom: 1%">
                <div class="md-layout-item"></div>
                <div class="md-layout-item md-size-10"><md-button class="md-raised md-accent" @click="create_dialog.active = true">{{$t('workspaces.creation_dialog.button')}}</md-button></div>
            </div>

            <WorkspacesList/>
        </div>
    </div>
</template>

<script>
    import Header from "./Header";
    import WorkspacesList from "./WorkspacesList";
    import axios from "../common/axios";

    export default {
        name: "Workspaces",
        components: { Header, WorkspacesList },
        data: () => ({
            create_dialog: {
                active: false,
                data: undefined
            }
        }),
        methods: {
            onCreateDialogConfirm(value) {
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/me/workspace", {
                    name: value
                })
                    .then(response => {
                        location.reload();
                    })
                    .catch(() => {});
            }
        }
    };
</script>

<style scoped>
    #workspaces-container {
        margin: 1% 2% 2%;
    }
</style>
