<template>
    <div id="workspaces-list-component">
        <md-card class="workspaces-cards">
            <md-card-header>
                <div class="md-title">{{$t("workspaces.mines")}} <md-chip class="md-primary">{{ this.workspaces.filter(w => w.mine).length }}</md-chip></div>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item v-bind:key="workspace.name + '-' + workspace.owner.mail"
                                  v-for="workspace in this.workspaces.filter(w => w.mine)" :to="`/${workspace.owner.mail}/workspace/${workspace.name}`">
                        <span style="text-transform: capitalize">{{workspace.name}}</span> </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card class="workspaces-cards">
            <md-card-header>
                <div class="md-title">{{$t("workspaces.invited_ones")}}</div>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item v-bind:key="workspace.name + '-' + workspace.owner.mail"
                                  v-for="workspace in this.workspaces.filter(w => !w.mine)" :to="`/${workspace.owner.mail}/workspace/${workspace.name}`">
                        <span style="text-transform: capitalize">{{workspace.name}}</span> <code>{{$t("workspaces.owner")}}: {{workspace.owner.mail}}</code></md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</template>

<script>
    import axios from "../common/axios";

    export default {
        name: "WorkspacesList",
        data: () => ({
            workspaces: []
        }),
        beforeMount: function() {
            let user;
            axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/me")
                .then(response => {
                    user = response.data.data;

                    return axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/me/workspace/list");
                })
                .then(response => {
                    this.workspaces = response.data.data;

                    for (const workspace of this.workspaces) {
                        workspace.mine = workspace.owner.mail === user.mail;
                    }
                })
                .catch(() => { });
        }
    };
</script>

<style scoped>
    .workspaces-cards {
        margin-bottom: 5vh;
    }
</style>
