<template>
    <div>
        <Header />

        <md-dialog-prompt
                :md-active.sync="invite_dialog.active"
                v-model="invite_dialog.data"
                :md-title="$t('workspace.invite')"
                md-input-maxlength="200"
                :md-input-placeholder="$t('workspace.invite_dialog_placeholder')"
                :md-confirm-text="$t('global.ok')"
                :md-cancel-text="$t('global.cancel')"
                @md-confirm="onUserInvite"
        />

        <md-dialog-prompt
                :md-active.sync="create_project_dialog.active"
                v-model="create_project_dialog.data"
                :md-title="$t('workspace.creation_project_dialog.title')"
                md-input-maxlength="200"
                :md-input-placeholder="$t('workspace.creation_project_dialog.placeholder')"
                :md-confirm-text="$t('global.ok')"
                :md-cancel-text="$t('global.cancel')"
                @md-confirm="onProjectCreation"
        />

        <md-dialog-prompt
                :md-active.sync="rename_dialog.active"
                v-model="rename_dialog.data"
                :md-title="$t('workspace.rename')"
                md-input-maxlength="50"
                :md-input-placeholder="$t('workspace.rename_dialog_placeholder')"
                :md-confirm-text="$t('global.ok')"
                :md-cancel-text="$t('global.cancel')"
                @md-confirm="onRenameDialogConfirm"
        />

        <md-dialog-confirm
                :md-active.sync="delete_dialog.active"
                :md-title="$t('workspace.delete')"
                :md-content="$t('workspace.delete_warning')"
                :md-confirm-text="$t('global.yes')"
                :md-cancel-text="$t('global.no')"
                @md-confirm="onDeleteDialogConfirm" />

        <div id="workspace-container">
            <span class="md-display-2" style="text-transform: capitalize">{{this.$route.params.w_name}}</span>

            <div class="md-layout md-gutter" style="margin-top: 2%">
                <div class="md-layout-item md-size-70">
                    <md-card>
                        <md-card-header>
                            <div class="md-title">{{$t("workspace.projects")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <div class="md-layout md-gutter md-alignment-top-right">
                                <div class="md-layout-item"></div>
                                <div class="md-layout-item md-size-15"><md-button class="md-raised md-accent" @click="create_project_dialog.active = true">{{$t('workspace.creation_project_dialog.button')}}</md-button></div>
                            </div>
                            <md-empty-state
                                    v-if="this.workspace.projects.length === 0"
                                    class="md-accent"
                                    md-rounded
                                    md-icon="web"
                                    :md-label="$t('workspace.no_projects')"
                                    :md-description="$t('workspace.no_projects_suggestion')">
                            </md-empty-state>
                            <md-list v-if="this.workspace.projects.length !== 0" >
                                <md-list-item v-bind:key="project.name" v-for="project in this.workspace.projects" :to="`/${workspace.owner.mail}/workspace/${workspace.name}/project/${project.name}`">
                                    {{project.name}}
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>

                    <md-card>
                        <md-card-header>
                            <div class="md-title">{{$t("workspace.users")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <md-list v-if="this.workspace.users.length !== 0" >
                                <md-list-item v-bind:key="user.mail" v-for="user in this.workspace.users">
                                    {{user.mail}}
                                    <md-button v-if="owner" @click="onUserKick(user.mail)" class="md-icon-button md-list-action">
                                        <md-icon>clear</md-icon>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                            <md-empty-state
                                    v-if="this.workspace.users.length === 0"
                                    class="md-accent"
                                    md-rounded
                                    md-icon="account_circle"
                                    :md-label="$t('workspace.no_users')"
                                    :md-description="$t('workspace.no_users_suggestion')">
                            </md-empty-state>
                        </md-card-content>
                    </md-card>
                </div>

                <div class="md-layout-item md-size-30">
                    <md-card>
                        <md-card-header>
                            <div class="md-title">{{$t("workspace.info")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <md-list>
                                <md-list-item>
                                    <md-icon>assignment_ind</md-icon>
                                    <span class="md-list-item-text">{{$t("workspace.owner")}}: {{this.workspace.owner ? this.workspace.owner.mail : ""}}</span>
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>device_hub</md-icon>
                                    <span class="md-list-item-text">{{$t("workspace.network")}}: {{this.workspace.network}}</span>
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>router</md-icon>
                                    <span class="md-list-item-text">{{$t("workspace.gateway")}}: {{this.workspace.gateway}}</span>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>

                    <md-card v-if="owner">
                        <md-card-header>
                            <div class="md-title">{{$t("workspace.actions")}}</div>
                        </md-card-header>

                        <md-card-content>
                            <md-button class="md-raised md-accent buttons" @click="invite_dialog.active = true" style="margin-left: 0">{{$t("workspace.invite")}}</md-button>
                            <md-button class="md-raised md-primary buttons" @click="rename_dialog.active = true">{{$t("workspace.rename")}}</md-button>
                            <md-button class="md-raised md-accent buttons" @click="delete_dialog.active = true">{{$t("workspace.delete")}}</md-button>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "../common/axios";
    import Header from "./Header";

    export default {
        name: "Workspace",
        components: { Header },
        data: () => ({
            workspace: {
                projects: [],
                users: []
            },
            owner: false,
            invite_dialog: {
                active: false
            },
            rename_dialog: {
                active: false
            },
            delete_dialog: {
                active: false
            },
            create_project_dialog: {
                active: false
            }
        }),
        beforeMount() {
            axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name)
                .then(response => {
                    this.workspace = response.data.data;
                })
                .catch(errors => {});

            axios.get(process.env.VUE_APP_BACKEND_URL + "v1/user/me")
                .then(response => {
                    this.owner = response.data.data.mail === this.$route.params.user;
                })
                .catch(errors => {});
        },
        methods: {
            onRenameDialogConfirm(value) {
                axios.patch(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.workspace.owner.mail + "/workspace/" + this.workspace.name, {
                    name: value
                })
                    .then(response => {
                        this.$router.push("/workspaces");
                    })
                    .catch(errors => {});
            },
            onDeleteDialogConfirm(value) {
                axios.delete(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.$route.params.user + "/workspace/" + this.$route.params.w_name)
                    .then(response => {
                        this.$router.push("/workspaces");
                    })
                    .catch(errors => {});
            },
            onUserInvite(value) {
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.workspace.owner.mail + "/workspace/" + this.workspace.name + "/invite", {
                    user: value
                })
                    .then(response => {
                        location.reload();
                    })
                    .catch(errors => {});
            },
            onUserKick(value) {
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.workspace.owner.mail + "/workspace/" + this.workspace.name + "/kick", {
                    user: value
                })
                    .then(response => {
                        location.reload();
                    })
                    .catch(errors => {});
            },
            onProjectCreation(value) {
                axios.post(process.env.VUE_APP_BACKEND_URL + "v1/user/" + this.workspace.owner.mail + "/workspace/" + this.workspace.name + "/project", {
                    name: value
                })
                    .then(response => {
                        this.$router.push("/" + this.workspace.owner.mail + "/workspace/" + this.workspace.name + "/project/" + value);
                    })
                    .catch(errors => {});
            }
        }
    };
</script>

<style scoped>
    #workspace-container {
        margin: 2%;
    }

    .md-card {
        margin-bottom: 5vh;
    }

    .buttons {
        width: 100%;
    }
</style>
